
.box {
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;


}

.input-one {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-two {
    display: flex;
    justify-content: space-around;

}

nav {
    display: flex;
    justify-content: center;
}

.icons {
    width:127px ;
    height: 87px;
    background-color: aqua;
    margin: 5px;
}


.fa-facebook {
    color: rgb(226, 17, 62);
}

.x {
    fill: #ec600f;
    
}
/* -------pokemon----- */

.pokemon-box {
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0;
}

.img1 {
    width: 568px;
    height: 321px;
}

.img2 {
    width: 276px;
    height: 156px;
}